.whiteText {
  color: white !important;
}

.theme-critical {
  background-color: #cc1814 !important;
}

.theme-high {
  background-color: #ffa500 !important;
}

.theme-medium {
  background-color: #f0c20c !important;
}

.theme-low {
  background-color: #096ab0 !important;
}

.theme-negligible {
  background-color: #00b09b !important;
}

.theme-unknown {
  background-color: #515456 !important;
}

.theme-success {
  background-color: #00b09b !important;
}

.theme-warning {
  background-color: #f0c20c !important;
}

.theme-info {
  background-color: #096ab0 !important;
}

.theme-error {
  background-color: #cc1814 !important;
}

.theme-neutral {
  background-color: #515456 !important;
}

.license {
  background-color: transparent !important;
  color: #096ab0 !important;
  padding-left: 0 !important;
}

.threat {
  background-color: transparent !important;
  color: #ffa500 !important;
  padding-left: 0 !important;
}

ul.a {
  list-style-type: disc !important;
}