.whiteText {
  color: white;
}

.theme-critical {
  background-color: #cc1814;
}

.theme-high {
  background-color: #ffa500;
}

.theme-medium {
  background-color: #f0c20c;
}

.theme-low {
  background-color: #096ab0;
}

.theme-negligible {
  background-color: #00b09b;
}

.theme-unknown {
  background-color: #515456;
}

.theme-success {
  background-color: #00b09b;
}

.theme-warning {
  background-color: #f0c20c;
}

.theme-info {
  background-color: #096ab0;
}

.theme-error {
  background-color: #cc1814;
}

.theme-neutral {
  background-color: #515456;
}

.license {
  background-color: transparent;
  color: #096ab0;
  padding-left: 0;
}

.threat {
  background-color: transparent;
  color: #ffa500;
  padding-left: 0;
}

ul.a {
  list-style-type: disc;;
}